{% extends '../base.html' %}

{% block content %}

    <section class="accueil" style="background-image: url(/static/images/Convertis/Back_One.jpg);height: 87vh;" >
        <div class="container">
            <h1>GET SKILLS <span style="color: #ff0000;">CLASS</span></h1>
            <p style="color: #fff;">
                EXPLORER LES TECHNOLOGIE DE L'INFORMATION ET DE LA COMMUNICATION 
            </p>
            {% if request.user.is_authenticated %}
            {% else %}
            <button type="button" class="btnJoin" onclick="toogleInscriptionForm()">Nous réjoindre</button>
            {% endif %}
        </div>
    </section>

    <section class="about" id="about">
        <div class="container">
            <h3>
                Apropos de nous
                <div></div>
            </h3>
            <div class="row px-2">
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="/static/images/Convertis/logo_get_skills_class.png" alt="">
                </div>
                <div class="col-lg-6 infos">
                    <h5>GET SKILLS CLASS</h5>
                    <p>
                        Lancée pour répondre aux besoins croissants du secteur éducatif,
	                    GET SKILLS Class se distingue par son approche intégrée, combinant 
                        théorie et pratique pour préparer les apprenants aux défis de leurs 
                        secteurs respectifs.
                    </p>
                    <a href="#" class="btn">En savoir plus</a>
                </div>
            </div>
        </div>
    </section>

    <section class="formations" id="formations">
        <div class="container" style="padding: 20px 0;">
            <h3 style="text-align: center;">
                Nos formations
                <div></div>
            </h3>
            <div class="row">
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-laptop"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Informatique Générale</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-code-slash"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Programmation</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-server"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Base de données</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-router"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Réseaux</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-terminal"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Système & administration</h6>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-keyboard"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Bureautique</h6> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-terminal"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Système & administration</h6> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-1 mb-2 shadow">
                    <div class="row align-items-center m-1 bg-light">
                        <div class="col-lg-auto text-center">
                            <p class="icon" style="color: #8b0000;"><i class="bi bi-keyboard"></i></p>
                        </div>
                        <div class="col-lg-6">
                            <h6 style="text-align: center;">Bureautique</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="banner">
        <div class="container">
            <div class="content">
                <h3>+400</h3>
                <p>Etudiants depuis nos debut en 2000</p>
            </div>
            <div>
                <span></span>
            </div>
            <div class="content">
                <h3>+40</h3>
                <p>Formateurs dans nos centres</p>
            </div>
            <div>
                <span></span>
            </div>
            <div class="content">
                <h3>+50</h3>
                <p>Programmes de formation en matière d'Informatique, marketing, autre</p>
            </div>
            <div>
                <span></span>
            </div>
            <div class="content">
                <h3>95%</h3>
                <p>Etudiants qui ont obtenu un emploi ou une oppotunité</p>
            </div>
        </div>
    </div>

    <section class="programme">
        <div class="container">
            <h3>
                Avoir un aperçu sur nos cours
                <div></div>
            </h3>
            <div class="row">
                <div class="col-lg-6 mb-3 p-2">
                    <div class="bg-light shadow p-2">
                        <img src="/static/images/Convertis/Rep.jpg" alt="" width="100%" height="60%">
                        <div class="d-flex justify-content-end" style="margin-top: -10px;">
                            <p class="bg-danger p-2 pb-0 mr-2">Niveau 1</p>
                        </div>
                        <h6 style="margin-top: 25px;">Metier des techniques de l'information et de la communication </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Soluta quam doloribus
                            porro, suscipit reprehenderit vitae
                            magnam eligendi rerum.
                        </p>
                        <a href="#" style="padding: 5px 15px; background-color: #ff0000; color: #fff;" class="btn" onclick="afficherBoiteDeDialogue()">Suivre</a>
                    </div>
                </div>
                <div class="col-lg-6 mb-3 shadow p-2">
                    <div class="bg-light shadow p-2">
                        <img src="/static/images/Convertis/Gik.jpg" alt="" width="100%" height="60%">
                        <div class="niv" style="margin-left: 41.5em;">
                            <p>Niveau 2</p>
                        </div>
                        <h6 style="margin-top: 25px;">Programmation, Réseaux & Base de données</h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Soluta quam doloribus
                            porro, suscipit reprehenderit vitae
                            magnam eligendi rerum.
                        </p>
                        <a href="#" style="padding: 5px 15px; background-color: #ff0000; color: #fff;" class="btn" onclick="afficherBoiteDeDialogue()">Suivre</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="souvenirs" id="souvenirs">
        <div class="container my-3" style="padding: 5px 0;">
            <h3 style="text-align: center; margin-top: 10px; color: #fff;">
                Nos souvenirs
                <div></div>
            </h3>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="shadow" style="padding: 20px; border-radius: 15px; margin-bottom: 10px; background-color: #fff;">
                        <div style="position: relative;">
                            <video src="/static/videos/presentP1.mp4" controls id="MaMusique1" style="width: 100%; height: 65%; object-fit: cover; border-radius: 10px;"></video>
                            <!-- <img src="/static/images/bouton-jouer.png" id="btnplay2" style="width: 50px; top: 35%; left: 40%; position: absolute"> -->
                        </div>
                        <h6 style="color: #000; margin-bottom: 0;">Première promotion</h6>
                        <p style="color: #000; font-size: 15px; margin-bottom: 0;">
                            Les souvenirs de notre première promotion
                        </p>
                        <a style="background-color: #ff0000; color: #fff; font-size: 12px;" href="Albums/promotion1.html" class="btn">Voir l'album</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="shadow" style="padding: 20px; border-radius: 15px; margin-bottom: 10px; background-color: #fff;">
                        <div style="position: relative;">
                            <video src="/static/videos/presentP2.mp4" controls id="MaMusique2" style="width: 100%; height: 65%; object-fit: cover; border-radius: 10px;"></video>
                            <!-- <img src="/static/images/bouton-jouer.png" id="btnplay2" style="width: 50px; top: 35%; left: 40%; position: absolute"> -->
                        </div>
                        <h6 style="color: #000; margin-bottom: 0;">Deuxième promotion</h6>
                        <p style="color: #000; font-size: 15px; margin-bottom: 0;">
                            Les souvenirs de notre deuxième promotion
                        </p>
                        <a style="background-color: #ff0000; color: #fff; font-size: 12px;" href="Albums/promotion2.html" class="btn">Voir l'album</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="shadow" style="padding: 20px; border-radius: 15px; margin-bottom: 10px; background-color: #fff;">
                        <div style="position: relative;">
                            <video src="/static/videos/presentP3.mp4" controls id="MaMusique3" style="width: 100%; height: 65%; object-fit: cover; border-radius: 10px;"></video>
                            <!-- <img src="/static/images/bouton-jouer.png" id="btnplay2" style="width: 50px; top: 35%; left: 40%; position: absolute"> -->
                        </div>
                        <h6 style="color: #000; margin-bottom: 0;">Troisème promotion</h6>
                        <p style="color: #000; font-size: 15px; margin-bottom: 0;">
                            Les souvenirs de notre troisième promotion
                        </p>
                        <a style="background-color: #ff0000; color: #fff; font-size: 12px;" href="Albums/promotion3.html" class="btn">Voir l'album</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="shadow" style="padding: 20px; border-radius: 15px; margin-bottom: 10px; background-color: #fff;">
                        <div style="position: relative;">
                            <video src="/static/videos/presentP4.mp4" controls id="MaMusique4" style="width: 100%; height: 65%; object-fit: cover; border-radius: 10px;"></video>
                            <!-- <img src="/static/images/bouton-jouer.png" id="btnplay2" style="width: 50px; top: 35%; left: 40%; position: absolute"> -->
                        </div>
                        <h6 style="color: #000; margin-bottom: 0;">Quatrième promotion</h6>
                        <p style="color: #000; font-size: 15px; margin-bottom: 0;">
                            Les souvenirs de notre quatrième promotion
                        </p>
                        <a style="background-color: #ff0000; color: #fff; font-size: 12px;" href="Albums/promotion4.html" class="btn">Voir l'album</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="message" id="message">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="form-box">
                    <h2>Envoyer un message</h2>
                    <p>Suivez ces étapes pour nous envoyer un message</p>
                    <form action="#">
                        <div class="input-box"> 
                            <input type="text" name="name1" id="name1" autocomplete="name1" required>
                            <label for="name1">Nom</label>
                        </div>
                        <div class="input-box">
                            <input type="text" name="first1" id="first1" autocomplete="first1" required>
                            <label for="first1">Prénom</label>
                        </div>
                        <div class="input-box">
                            <input type="email" name="email1" id="email1" autocomplete="email1" required>
                            <label for="email1">Adresse Email</label>
                        </div>
                        <div class="input-box">
                            <textarea name="message" id="message" autocomplete="email" required></textarea>
                            <label for="message">Message</label>
                        </div>
                        <button type="submit" class="btn">Envoyer un message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}