    <div class="cert1">
        <div class="certificat1">
            <div class="carte" id="printDiv" style=" border-radius: 8px;">
                <div class="content" style="padding: 15px;">
                    <div class="d-flex align-items-center mb-2 entete">
                        <img src="/static/images/contents/logo_get_skills_class.png" style="float: left; margin-right: 2px;" alt="" width="35px">
                        <div style="margin-left: 5px;">
                            <h4 style="font-size: 1.2rem; margin-bottom: 0px;">GET SKILLS CLASS</h4>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <h4 style="font-size: 0.9rem; margin-bottom: 0px;">Carte d'apprenant</h4>
                        <h4 style="font-size: 0.7rem; text-align: center;">ID: 000000000000</h4>
                    </div>

                    <div class="infos" style="display: flex;">
                        <div class="profil" style=" margin-top: 10px; margin-left: 5px; height: 85px; width: 85px; background-color: #ffffffbb; padding: 10px 5px;">
                            <img src="{{profile.picture.url}}" alt="Image sélectionnée" id="imageAffichee" width="65px" height="65px" style="object-fit: cover;">
                        </div>
                        <div class="text" style="margin-top: 5px; padding: 5px;">
                            <h6 style="font-size: 0.7rem;">Nom : <span id="nom2">{{profile.last_name}}</span></h6>
                            <h6 style="font-size: 0.7rem;">Post-nom : <span id="postnom2">{{profile.post_name}}</span></h6>
                            <h6 style="font-size: 0.7rem;">Prénom : <span id="prenom2">{{profile.first_name}}</span></h6>
                            <h6 style="font-size: 0.7rem;">Adresse : <span id="adresse2">{{profile.adress}} {{profile.adress}} {{profile.adress}}</span></h6>
                        </div>
                        <div class="profil" style=" margin-top: 10px; margin-left: 30px;; height: 70px; width: 70px; background-color: #ffffffbb; padding: 5px;">
                            <b>QR CODE</b>
                            <!-- <img src="{{profile.picture.url}}" alt="Image sélectionnée" id="imageAffichee" width="60px" height="60px" style="object-fit: cover;"> -->
                        </div>
                    </div>

                    <div class="end" style="display: flex; justify-content: space-between; align-items: center;">
                        <small style="font-size: 0.8rem;">Date d'éxpiration : 20/12/2024</small>
                        <img src="image/QRcode.jpg" alt="" width="40px">
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-danger m-1" onclick="showCard()">Fermer</button>
        <button class="btn btn-success m-1">Enregistrer</button>
    </div>