<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="/static/css/carte.css">
    <link rel="stylesheet" href="/static/css/appStyles.css">
    <title>Get Skills CLass | Vitrine</title>
</head>

{% if not request.user.is_authenticated %}
<div class="process" style="z-index: 999;">
    <a href="#" class="icon-close" aria-label="icone close"><i class="bi bi-x"></i></a>
    <div class="content">
        <h2>Comment procéder</h2>
        <p>Voulez-vous suivre une formation</p>
        <a href="#" class="btnLoginPopup">S'inscrire</a>
    </div>
</div>
{% endif %}

{% if messages %}
{% for m in messages %}
<div style="position: absolute; text-align: center; padding: 10px; z-index: 99999;">
    <small class="alert alert-succes">{{m}}</small>
</div>
{% endfor %}
{% endif %}

{% if request.user.is_authenticated %}
{% else %}
<div class="wrapper">
    <div class="form-box" id="myForm">
        <div class="d-flex justify-content-between mb-2">
            <h2 class="m-0">Inscrivez-vous</h2>
            <button class="btn btn-sm btn-danger py-0 px-1" onclick="toogleInscriptionForm()" style="width: 60px;">Fermer</button>
        </div>
        <p style="text-align: center; color: #000;">Suivez ces étapes pour rejoindre la GET SKILLS CLASS</p>
        <form action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-box"> 
                <input type="text" name="last_name" id="name" autocomplete="name" required placeholder="Votre nom">
                <label for="name">Nom</label>
            </div>
            <div class="input-box"> 
                <input type="text" name="post_name" id="midname" autocomplete="midname" required placeholder="Votre post-nom">
                <label for="midname">Post-nom</label>
            </div>
            <div class="input-box">
                <input type="text" name="first_name" id="first" autocomplete="first" required placeholder="Votre prénom">
                <label for="first">Prénom</label>
            </div>
            <div class="input-box"> 
                <input type="date" name="birthday" id="birth" autocomplete="birth" required placeholder="Votre date de naissance">
                <label for="birth">Date de naissance</label>
            </div>
            <div class="input-box"> 
                <input type="text" name="adress" id="adresse" autocomplete="adresse" required placeholder="Votre résidence">
                <label for="adresse">Adresse actuelle</label> 
            </div>
            <div class="input-box">
                <input type="text" name="username" id="user" autocomplete="user" required placeholder="Votre nom d'utilisateur">
                <label for="user">Nom d'utilisateur</label>
            </div>
            <div class="input-box">
                <input type="email" name="email" id="email" autocomplete="email" required placeholder="Votre adresse mail">
                <label for="email">Adresse Email</label>
            </div>
            <div class="input-box">
                <input type="text" name="phone" id="phone" autocomplete="phone" required placeholder="Votre numéro de téléphone">
                <label for="num">Téléphone</label>
            </div>
            <div class="input-box">
                <input type="file" name="picture" id="picture" autocomplete="picture" required>
                <label for="num">Photo</label>
            </div>
            <div class="input-box">
                <input type="password" name="password" id="password1" autocomplete="password" required placeholder="Votre mot de passe">
                <label for="password">Mot de passe</label>
            </div>
            <button type="submit" class="btn btnLogin-popup">S'inscrire</button>
        </form>
    </div>
</div>

<div class="connexion">
    <div class="content">
        <div class="d-flex justify-content-between mb-2">
            <h2 class="m-0">Connectez vous</h2>
            <button class="btn btn-sm btn-danger py-0 px-1" onclick="toogleConnexionForm()">Fermer</button>
        </div>
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username_email" id="username" placeholder="Votre nom d'utilisateur">
            <input type="password" name="password" id="password" placeholder="Votre mot de passe">
            <button type="submit">Connexion</button>
        </form>
    </div>
</div>
{% endif %}

<body>
    <div class="navbar">
        <div class="container">
            <div class="links">
                <ul class="my-2">
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                </ul>
            </div>
            <div class="text">
                <p class="icon my-2"><i class="bi bi-house-fill"></i></p>
                <p class="my-2">Kinshasa, institut réligion, Unikin</p>
            </div>
            <div class="text">
                <p class="icon my-2"><i class="bi bi-envelope-fill"></i></p>
                <p class="my-2">getskillsclass@gmail.com</p>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <nav>
                <div class="burger-menu" id="burger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <a href="{% url 'home:home' %}"><img src="/static/images/contents/logo_get_skills_class.png" alt=""></a>
                <ul class="nav-links m-0" id="nav-links">
                    <li><a href="{% url 'home:home' %}">Accueil</a></li>
                    <li><a href="{% url 'home:home' %}#formations">Formations</a></li>
                    <li><a href="{% url 'home:home' %}#souvenirs">Souvenir</a></li>
                    <li><a href="{% url 'home:about' %}">A propos</a></li>
                    <li><a href="{% url 'home:home' %}#message">Contact</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' request.user.id %}" class="btn" style="font-size: 30px; padding: 5px 10px; background: none; color: #000;">
                    <i class="bi bi-person-circle"></i>
                    <small style="font-size: 1.2rem;">{{request.user.username}}</small>
                </a>
                {% else %}
                <button class="btn" onclick="toogleConnexionForm()" style="font-size: 30px; padding: 5px 10px; background: none; color: #000;">
                    <i class="bi bi-person-circle"></i>
                </button>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="overlay" id="overlay"></div>
    <div class="custom-alert" id="customAlert">
        <h2>Notification</h2>
        <hr>
        <p id="alertMessage"></p>
        <button onclick="closeAlert()">OK</button>
    </div>

    <div class="overlay" id="overlay"></div>
    <div class="dialogue" id="dialogue">
        <h2>Notification</h2>
        <hr>
        <p>
            Assurez vous d'être inscrit(e) pour pouvoir suivre ce cours.
            Cliquez sur <span>Rejoindre</span> pour vous inscrire.
            Cliquez sur OK pour quitter
        </p>
        <button onclick="fermerBoiteDeDialogue()">OK</button>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="final">
                <ul>
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                </ul>
                <hr style="height: 1px; color: #fff; width: 100%;">
                <p>&copy; 2024 GET SKILLS CLASS, Tous droits réservés.</p>
            </div>
        </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" class="btn btn-primary">&uparrow;</button>

    <script>
        let mybutton = document.getElementById("myBtn");

        //Afficher le bouton retour en haut
        window.onscroll = function(){scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // Menu burger
        document.getElementById('burger-menu').addEventListener('click', function() {
            document.getElementById('nav-links').classList.toggle('active');
        });

        // Lorsque l'utilisateur clique sur le bouton, retour en haut
        function topFunction() {
            document.body.scrollTop = 0; 
            document.documentElement.scrollTop = 0;
        }

        // Ouvrir et fermer le formulaire d'inscription
        function toogleInscriptionForm () {
            const wrapper = document.querySelector('.wrapper');
            wrapper.classList.toggle('active-popup');
        };

        // Ouvrir et fermer le formulaire de connexion
        function toogleConnexionForm () {
            const connect = document.querySelector('.connexion');
            connect.classList.toggle('active-connect');
        };

        // Vérification du remplissage des champs et affichage de la boîte de dialogue
        let formToSubmit = null;

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('myForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Empêche l'envoi du formulaire

                let form = event.target;
                let allFilled = true;
                let fields = form.querySelectorAll('input[type="text"], input[type="email"], input[type="date"]');

                fields.forEach(function(field) {
                    if (!field.value) {
                        allFilled = false;
                        field.style.borderColor = 'red'; // Met en évidence les champs non remplis
                    } else {
                        field.style.borderColor = ''; // Réinitialise la bordure si le champ est rempli
                    }
                });

                if (allFilled) {
                    formToSubmit = form;
                    showAlert('Bravo ! Nous vous remercions pour votre inscription. \n Nous avons envoyé un message de confirmation dans votre mail. \n Cliquez sur OK pour quitter');
                } else {
                    showAlert('Veuillez remplir tous les champs.');
                }
            });
        });

        function showAlert(message) {
            document.getElementById('alertMessage').innerText = message;
            document.getElementById('customAlert').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        function closeAlert() {
            document.getElementById('customAlert').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
            if (formToSubmit) {
                formToSubmit.submit(); // Soumet le formulaire après la fermeture de l'alerte
                formToSubmit = null;
            }
        }

        // Message pour les utilisateurs non inscrits
        function afficherBoiteDeDialogue() {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('dialogue').style.display = 'block';
        }

        function fermerBoiteDeDialogue() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('dialogue').style.display = 'none';
        }

        //Les vidéos
        var MaMusique1 = document.getElementById("MaMusique1") 
        var MaMusique2 = document.getElementById("MaMusique2")
        var MaMusique3 = document.getElementById("MaMusique3")
        var MaMusique4 = document.getElementById("MaMusique4")
        var btnplay1 = document.getElementById("btnplay1")
        var btnplay2 = document.getElementById("btnplay2")
        var btnplay3 = document.getElementById("btnplay3")
        var btnplay4 = document.getElementById("btnplay4")

        btnplay1.onclick = function(){
            if(MaMusique1.paused){
                    MaMusique1.play();
                    btnplay1.src = "asset/images/bouton-pause.png"
            } else{
                    MaMusique1.pause();
                    btnplay1.src = "asset/images/bouton-jouer.png"
            }
        }
        btnplay2.onclick = function(){
            if(MaMusique2.paused){
                    MaMusique2.play();
                    btnplay2.src = "asset/images/bouton-pause.png"
            } else{
                    MaMusique2.pause();
                    btnplay2.src = "asset/images/bouton-jouer.png"
            }
        }
        btnplay3.onclick = function(){
            if(MaMusique3.paused){
                    MaMusique3.play();
                    btnplay3.src = "asset/images/bouton-pause.png"
            } else{
                    MaMusique3.pause();
                    btnplay3.src = "asset/images/bouton-jouer.png"
            }
        }
        btnplay4.onclick = function(){
            if(MaMusique4.paused){
                    MaMusique4.play();
                    btnplay4.src = "asset/images/bouton-pause.png"
            } else{
                    MaMusique4.pause();
                    btnplay4.src = "asset/images/bouton-jouer.png"
            }
        }
    </script>

</body>
</html>