
    <footer>
        <div class="container">
            <div class="final">
                <ul>
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61560315718628"><i class="bi bi-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/showcase/gets-skills-class/posts/?feedView=all"><i class="bi bi-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61560315718628"><i class="bi bi-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61560315718628"><i class="bi bi-twitter"></i></a></li>
                </ul>
                <hr style="height: 1px; color: #fff; width: 100%;">
                <p>&copy; 2024 GET SKILLS CLASS, Tous droits réservés.</p>
            </div>
        </div>
    </footer>
