{% extends '../base.html' %}

{% block content %}
    <div class="container p-5">
        <div class="d-flex justify-content-center py-5">
            <form method="post" style="max-width: 40rem;">
                {% csrf_token %}
                <h4>Rediger la notification</h4>
                <textarea name="content" id="content" class="form-control" rows="5" placeholder="Message" required></textarea>
                <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}