{% extends '../base.html' %}

{% block content %}
<div class="container mb-5">
    <h3 class="p-4 text-center">Ajouter une formation</h3>
    <form method="post" enctype="multipart/form-data" class="manage-form" style="max-width: 20rem; margin: 0px auto;">
        {% csrf_token %}
        <label for="id_name">
            Nom
            {{form.name}}
        </label>
        <label for="id_image">
            Image
            {{form.image}}
        </label>
        <button class="btn btn-info" type="submit">Enregistrer</button>
    </form>
</div>
{% endblock %}