
    <div class="albums-list">
        {% if albums %}
        <div class="d-flex align-items-center">
            <h3 class="p-4 text-center">Album</h3>
            <a href="{% url 'addAlbum' %}">Ajouter</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>
                        <td>Promotion</td>
                        <td>Fichier</td>
                        <td>Actions</td>
                    </th>
                </thead>
                <tbody>
                    {% for item in albums %}
                    <tr>
                        <td></td>
                        <td style="text-transform: capitalize;">{{item.promotion}}</td>
                        <td><img src="{{item.file.url}}" width="50" height="50" alt="{{item.name}}"></td>
                        <td><a href="{% url 'updateAlbum' item.pk %}" class="btn btn-sm btn-primary">Mofifier</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h3>Albums</h3>
        <h4 class="text-muted"><i>Aucune element enregistré dans l'album, <a href="{% url 'addAlbum' %}">Ajouter dans l'album</a></i></h4>
        {% endif %}
    </div>